.hero {
  background-color: var(--primary-dark);
  background-image: url("../../images/background-hero.svg");
  color: var(--primary-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
  align-items: flex-start;
  justify-content: center;
  padding: calc(var(--padding) * 13);
  padding-top: calc(var(--padding) * 20);
  width: 100%;
  margin-bottom: calc(var(--margin) * 5);
}

@media (max-width: 480px) {
  .hero {
    padding: calc(var(--padding) * 7) calc(var(--padding) * 4);
    gap: calc(var(--gap) * 2);
  }
}
