.sectionWrapper {
  padding: var(--padding-md) var(--padding-lg);
  margin: var(--margin-lg) 0;
  min-height: 50vh;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 480px) {
  .sectionWrapper {
    padding: var(--padding-md);
    margin: var(--margin-md) 0;
    padding-top: var(--padding-lg);
  }
}
