.formCon {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: calc(var(--padding) * 10) calc(var(--padding) * 2);
  min-height: 50vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  min-height: 485px;
  height: 100%;
  gap: calc(var(--gap) * 4);
  flex-direction: column;
  background-color: var(--primary-light);
  padding: calc(var(--padding) * 6);
}

.senderInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.label {
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-dark);
  text-transform: uppercase;
  gap: var(--gap);
}

.senderInfoLabel {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.textLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  height: 50px;
  background-color: var(--text-bg);
  border: 1px solid var(--primary-dark);
  border-radius: var(--border-radius);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-dark);
  padding: var(--padding);
}

.input:focus {
  outline: none;
}

.textArea {
  resize: none;
  height: 120px;
}

.btnSubmit {
  margin: 0;
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-light);
  color: var(--primary-dark);
  box-shadow: 5px 5px 0px var(--primary-dark);
  width: 50%;
  min-width: 150px;
  max-width: 230px;
}

@media (hover: hover) {
  .btnSubmit:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    box-shadow: none;
  }
  .btnSubmit:focus-visible {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    box-shadow: none;
  }
}

@media (max-width: 700px) {
  .senderInfo {
    flex-direction: column;
  }

  .senderInfoLabel {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .form {
    padding: calc(var(--padding) * 4);
  }
}
