@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

:root {
  --primary-dark: #000;
  --primary-light: #fff;
  --text-bg: #dbdcdd;
  --padding: 5px;
  --margin: 10px;
  --gap: 5px;
  --border-radius: 3px;
  --border-radius-accent: 50px;
  --font-primary: "Abril Fatface";
  --font-secondary: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  color: var(--primary-light);
  background: var(--primary-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  background-image: url("./images/background.svg");
  background-repeat: repeat;
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

br {
  content: "";
  display: block;
  margin: 15px 0;
}
