.skillTags {
  border-radius: var(--border-radius);
  padding: var(--padding-xs) var(--padding-sm);
  background-color: var(--text-bg);
  box-shadow: 5px 5px 0px var(--primary-dark);
  transition: all 0.3s ease-in-out;
}

.tagsCon {
  display: flex;
  gap: var(--gap-sm);
  flex-wrap: wrap;
}

.frame {
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-dark);
}

.frameRight {
  border-top-right-radius: var(--border-radius-accent);
  box-shadow: -10px 10px 0px var(--primary-dark);
}

.frameLeft {
  border-top-left-radius: var(--border-radius-accent);
  box-shadow: 10px 10px 0px var(--primary-dark);
}

@media (hover: hover) {
  .skillTags:hover {
    cursor: default;
    color: var(--text-bg);
    background-color: var(--primary-dark);
    box-shadow: none;
  }
}
